/* CTC style sheet for the member profile update form (embedded in Joomla) */

@media screen, projection {
    body {
            line-height: 1.3em;
            margin: 0 0 20px 0;
            color:#000;
            font-family: Verdana, sans-serif;
            overflow: auto;  /* Fix Moz bug */
    }

    img {
            border: none;
    }

    p {
            margin-top: 0.5em;
    }

    hr {
            margin-top: 10px;
            margin-right: 7px;
            height: 2px;
            color: #CCCCCC;
    }

    /* ---------- h1, h2, h3, h4, h5, hr ---------- */

    h1 {
            font-family: arial, sans-serif;
            font-weight: bold;
            /* color: #669933; */
            font-size: 200%;
            display: block;
            margin-top: 0px;
            margin-bottom: 15px;
    }

    h2 {
            font-family: arial, sans-serif;
            font-weight: bold;
            /* color: #669933; */
            font-size: 140%;
            display: block;
            margin-top: 15px;
            margin-bottom: 10px;
    }

    h3 {
            font-weight: bold;
            font-family: arial, sans-serif;
            font-size: 120%;
            display: block;
            margin-top: 15px;
            margin-bottom: 10px;
    }

    h4 {
            font-family: arial, sans-serif;
            font-weight: bold;
            font-size: 110%;
            color: #669933;
            display: block;
            margin-top: 10px;
    }

    table.menu h4 {
            color: #202020;
            font-style: italic;
    }

    h5 {
            font-family: arial, sans-serif;
            font-weight: bold;
            font-size: 100%;
            margin-top: 0.5em;
    }


    /* ---------- tables --------------- */
    table {
            font-size: 1em;  /* Fix IE screw up (not inheriting body font styles */
    }

    table.memberDataForm td {
            padding-right: 2em;
    }

    table.memberDataForm {
            table-layout: fixed;
            width: 100%;
    }

    table.memberDataForm tr td:first-child {
            width: 31%;
    }

    table.tripNotificationsTable tr th:first-child { width: 16%; }
    table.tripNotificationsTable td {
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 2px;
        padding-bottom: 2px;
    }


    /* ---------- navigation ---------- */

    a {
            color: #558822;
            text-decoration: underline;
    }

    a.thumb img {
            border: #558822 solid 2px;
    }

    a:hover {
            color: black;
            text-decoration: none;
    }

    td a {
            line-height: 130%; /* Space out tables of anchors */
    }

    li {
            margin-top: 0.3em;
            margin-left: 3em;
    }

    ul {
            margin-bottom: 1em;
    }


    /*-----forms----- */

    .back_button {
            padding-top: 8px;
            margin-top: 8px;
    }


    input[type=submit] {
            width:80px;
    }

    input[type=text] {
            width: 100%;
    }
}
