/* CTC style sheet for the member profile update form (embedded in Joomla) */

:root {
  --dark-green: #00591d;
  --dark-green-hover: #176831;
  --navbar-green: #02501b;
  --background: #f5f6f5;
  --background-higher: #ebedeb;
  --masthead: #272d27;
  --orange: #E05A00;
  --yellowy: #F5AF00;
  --black: #212529;
  --on-dark: #f7f7f7f7;
}

@media screen, projection {
    body {
            padding: 0 0 50px 0;
            overflow: auto;  /* Fix Moz bug */
    }

    p {
            margin-top: 0.5em;
    }

    table.menu h4 {
            color: #202020;
            font-style: italic;
    }

    h5 {
            font-weight: bold;
            font-size: 100%;
            margin-top: 0.5em;
    }


    /* ---------- tables --------------- */
    table {
            font-size: 1em;  /* Fix IE screw up (not inheriting body font styles */
    }

    table.memberDataForm td {
            padding-right: 2em;
    }

    table.memberDataForm {
            table-layout: fixed;
            width: 100%;
    }

    table.memberDataForm tr td:first-child {
            width: 31%;
    }

    table.tripNotificationsTable tr th:first-child { width: 16%; }
    table.tripNotificationsTable td {
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 2px;
        padding-bottom: 2px;
    }


    /* ---------- navigation ---------- */

    td a {
            line-height: 130%; /* Space out tables of anchors */
    }

    li {
            margin-top: 0.3em;
            margin-left: 3em;
    }

    ul {
            margin-bottom: 1em;
    }


    /*-----forms----- */

    .back_button {
            padding-top: 8px;
            margin-top: 8px;
    }


    input[type=submit] {
            width:80px;
    }

    input[type=text] {
            width: 100%;
    }
}
