/* CTC style sheet for the password update form (embedded in Joomla) */

@media screen, projection {
	body {
        margin: 0 0 20px 0;
		padding: 0px;
		border: 0px;
		line-height: 1.3em;
		color: #000;
		font-family: 'Lato', sans-serif;
		overflow: auto;
		/* Fix Moz bug */
	}

	img {
		border: none;
	}

	p {
		margin-top: 0.5em;
	}

	p.error {
		color: #C00000;
		margin-top: 0;
		padding-top: 4px;
		padding-bottom: 0px;
		line-height: 12px;
		text-align: center;
	}

	hr {
		margin-top: 10px;
		margin-right: 7px;
		height: 2px;
		color: #CCCCCC;
	}

	/* ---------- h1, h2, h3, h4, h5, hr ---------- */

	h1 {
		font-family: arial, sans-serif;
		font-weight: bold;
		/* color: #669933; */
		font-size: 200%;
		display: block;
		margin-top: 0px;
		margin-bottom: 15px;
	}

	h2 {
		font-family: arial, sans-serif;
		font-weight: bold;
		/* color: #669933; */
		font-size: 140%;
		display: block;
		margin-top: 15px;
		margin-bottom: 10px;
	}

	h3 {
		font-weight: bold;
		font-family: arial, sans-serif;
		font-size: 120%;
		display: block;
		margin-top: 15px;
		margin-bottom: 10px;
	}

	h4 {
		font-family: arial, sans-serif;
		font-weight: bold;
		font-size: 110%;
		color: #669933;
		display: block;
		margin-top: 10px;
	}

	table.menu h4 {
		color: #202020;
		font-style: italic;
	}

	h5 {
		font-family: arial, sans-serif;
		font-weight: bold;
		font-size: 100%;
		margin-top: 0.5em;
	}


	/* ---------- tables --------------- */
	table {
		font-size: 1em;  /* Fix IE screw up (not inheriting body font styles */
	}

	table.passwordChangeTable td {
		padding-right: 2em;
	}

	table.passwordChangeTable {
		table-layout: fixed;
		width: 100%;
		padding-bottom: 20px;
	}

	table.passwordChangeTable tr td:first-child {
		width: 28%;
	}


	/* ---------- navigation ---------- */

	a {
		color: #558822;
		text-decoration: underline;
	}

	a.thumb img {
		border: #558822 solid 2px;
	}

	a:hover {
		color: black;
		text-decoration: none;
	}

	td a {
		line-height: 130%; /* Space out tables of anchors */
	}

	li {
		margin-top: 0.3em;
		margin-left: 3em;
	}

	ul {
		margin-bottom: 0.5em;
	}


	/*-----forms----- */

	.back_button {
		padding-top: 8px;
		margin-top: 8px;
	}


	input {
		width: 100%;
	}


	input[type=submit] {
		width:80px;
	}


}
